/* Projects.css */

.projects-section {
  padding: 60px 20px;
  background: #151515;/* Simple background color */
  font-family: Arial, sans-serif; /* Use Arial font */
}

.projects-title {
  font-size: 2.0rem;
  text-align: center;
  margin-bottom: 40px;
  position: relative;
  display: inline-block;
  font-weight: bold;
  animation: fadeIn 2s ease-out, pulseAnimation 2s infinite;
font-family:Arial;
  color: #ffffff;
}

.projects-container {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  position: relative;
  perspective: 1000px; /* For 3D effect */
}

.project-card-wrapper {
  flex: 0 0 auto;
  margin-right: 20px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;
}

.project-card-wrapper:hover {
  transform: rotateY(15deg) scale(1.05); /* 3D rotation effect on hover */
}

.project-card {
  width: 300px; /* Adjust width as needed */
  height: 400px; /* Adjust height as needed */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  background: #fff; /* Card background color */
}

.project-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.project-image {
  height: 60%;
  object-fit: cover;
}

.project-des {
  font-size: 1.2rem;
  color: #007bff; /* Simple color for project title */
}

.project-description {
  font-size: 0.9rem;
  color: #666;
}

.tech-icons {
  margin: 10px 0;
  text-align: center;
}

.tech-icon {
  font-size: 1.5rem;
  margin: 0 5px;
  color: #333; /* Simple color for tech icons */
}

.project-buttons {
  display: flex;
  justify-content: space-between;
}

.project-buttons a {
  color: #fff; /* Button text color */
}

.project-buttons .btn-primary {
  background-color: #007bff; /* Simple button color */
  border: none;
}

.project-buttons .btn-secondary {
  background-color: #6c757d; /* Simple button color */
  border: none;
}
