/* Home Section Styling */
.home-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #1c1c1c 30%, #333333 100%);
  padding: 0 20px;
  text-align: center;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 15px;
  background: #282828;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  padding: 40px;
  animation: fadeInUp 1s ease-in-out;
}

/* Profile Wrapper */
.profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image-container {
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
  width: 300px;
  height: 300px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.7);
  transition: transform 0.5s ease-in-out;
}

.profile-image-container:hover {
  transform: scale(1.1);
}

.profile-image {
  width: 100%;
  height: auto;
  transition: filter 0.3s ease;
}

.profile-image:hover {
  filter: grayscale(0%);
}

/* Profile Details */
.profile-details {
  color: #f1f1f1;
}

.name {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ff6600;
  margin-bottom: 10px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  animation: zoomIn 1s ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
}

.subtitle {
  font-size: 1.2rem;
  color: #bbbbbb;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  animation: slideIn 1.2s ease-in-out;
}

.resume-button {
  padding: 10px 25px;
  background: #ff6600;
  color: black;

  border-radius: 25px;
  font-size: 1rem;

  font-weight: bold;
  transition: background 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  animation: bounceIn 1.5s ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
}

.a{
  text-decoration: none;
}
.resume-button:hover {
  background: #ff3300;
  transform: translateY(-5px);
  cursor: pointer;
}

/* Animations */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes bounceIn {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
